@media {
    body {color:#ffffff; background:#222222}
    a:link {color:aquamarine}
    a:hover, a:visited:hover {color:firebrick}
    a:visited {color:darkorchid}
}

body{
    margin: 1em auto;
    max-width: 40em;
    padding: 0.62em;
    font: 1.2em/1.62 sans-serif;
}

h1,h2,h3 {
    line-height: 1.2;
}

@media print{body{max-width:none}}

/* nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    padding: 0.2em;
    border-radius: 5px;
    margin-top: 10px;
}

nav a {
    font-size: large;
    text-decoration: none;
    font-variant: small-caps;
}

/* code */

pre {
    background: black;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    white-space: pre-wrap;
}

code {
    background: black;
    color: orange;
    border-radius: 5px;
    overflow-wrap: break-word;
}
